# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle

# APK/AAB release files (hosted separately)
*.apk
*.aab
*.jks
*.keystore
app/release/
